*{	
	margin: 0;
	padding: 0;
	font-family: Georgia, Arial;
}
.container{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}
.flexCon{
	display: flex;
}
.background{
	background-image: url("img/background_cityblur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*_____________Header both pages_________*/
header{
	height: 90px;
	justify-content: flex-start;
	align-items: flex-end;
	background-color: #9cbbb0;
	padding-bottom: 10px;
	color: #3f3536;
	font-size: 40px;
}
header .logoCon{
	height: 90px;
	margin-left: 15%;
}
header .logoCon img{
	width: 100px;
	cursor: pointer;
}
header span{
	font-weight: bold;
}
nav{
	height: 30px;
	background-color: #2d4452;
	color: white;
	justify-content: flex-end;
	align-items: center;
	padding-right: 15%;
}
nav div{
	margin: 0 5px;
}

/*_____________Header both pages END_________*/

.indexMain{
	background-color: transparent;
	color: black;

}
main .teamHeading{
	color: #2d4452;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	padding: 10px 0;
	text-shadow: -1px 1px 1px black;
}
main .text-teamCon{
	justify-content: center;
	text-shadow: -1px 1px 1px black;
	padding-bottom: 20px;
}
main .textBox{
	position: relative;
	z-index: 1;
	height: 400px;
	width: 400px;
	color: white;
	padding: 15px;
	text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
main .textBox::before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	opacity: 0.3;
	border: 10px double grey;
}
main .team{
	justify-content: space-around;
	margin-top: 20px;
	color: yellow;
}
main .member{
	flex-direction: column;
	align-items: center;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 2px;
	width: 35%;
	min-width: 140px;
}
.member img{
	width: 100%;
	border-radius: 50px;
	box-shadow: 0px 0px 20px 5px silver;
	transition: all .3s ease-in-out;
	cursor: pointer;
}
.member img:hover{
	transform: scale(1.1);
}

/*____________Footer Start __________*/
footer{
	height: 80px;
	background-color: #2d4452;
	justify-content: center;
	align-items: center;
	color: white;
}
footer .slogan{
	font-size: 34px;
	font-style: italic;
	font-family: Chewy;
	font-weight: bold;
}
/*____________Footer End __________*/


/*________Single TeamMember Page_____*/
main .teamMember{
	padding: 20px;
	font-size: 24px;
	flex-direction: row;
	justify-content: flex-start;
}

.teamMember .imgCon{
	flex-direction: column;
	width: 30%;
}
.imgCon img{
	width: 100%;
	border-radius: 50px;
	box-shadow: 1px 1px 20px 5px silver;
}
.teamMember .textCon{
	margin-left: 50px;
	color:	white;
	z-index: 1;
	position: relative;
	padding: 15px;
	text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.teamMember .textCon::before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	opacity: 0.3;
	border: 10px double grey;
}
.teamMember .textCon p{
	margin-top: 10px;
	max-width: 500px;
}
footer .memberFooter p{
	margin: 0 15px;
	font-style: italic;
}

@media screen and (max-width: 750px){
	.text-teamCon{
		flex-direction: column;
	}
}