*{	
	margin: 0;
	padding: 0;
	font-family: Georgia, Arial;
}
.container{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}
.flexCon{
	display: flex;
}
/*_____________Header both pages_________*/
header{
	height: 90px;
	justify-content: center;
	align-items: center;
	background-color: #f4f4f4;
	padding-bottom: 10px;
	color: #e78244;
	font-size: 40px;
}
header span{
	font-weight: bold;
}
nav{
	height: 30px;
	background-color: #2d4452;
	color: white;
	justify-content: flex-end;
	align-items: center;
	padding-right: 15px;
}
nav div{
	margin: 0 5px;
}

/*_____________Header both pages END_________*/

.indexMain{
	background-color: white;
	color: #ffffff;
}
main .teamHeading{
	color: #2d4452;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	padding: 10px 0;
}
main .team{
	justify-content: space-around;
	margin-top: 20px;
}
main .member{
	flex-direction: column;
	align-items: center;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 2px;
	width: 35%;
	max-width: 450px;
}
.member img{
	width: 100%;
}

footer{
	height: 80px;
	background-color: #f4f4f4;
	justify-content: center;
	align-items: center;
}
footer .slogan{
	font-size: 22px;
	font-style: italic;
	font-family: Chewy;
	font-weight: bold;
}

/*________Single TeamMember Page_____*/
main .teamMember{
	padding: 20px;
	font-size: 24px;
	flex-direction: row;
	justify-content: flex-start;
}

.teamMember .imgCon{
	flex-direction: column;
	width: 30%;
}
.imgCon img{
	width: 100%;
}
.teamMember .textCon{
	margin-left: 10px;
}

footer .memberFooter p{
	margin: 0 15px;
	font-style: italic;
}